.product-description__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  gap: 0.5rem;
  border-radius: 20px;
}

@media screen and (max-width: 844px) {
  .product-description__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    /* margin-top: 5.3rem; */
  }
}

.product-description__sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(216, 214, 214);
  /* margin-top: 14px; */
  position: relative;
}

@media screen and (max-width: 844px) {
  .product-description__sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(216, 214, 214);
    /* margin: 1rem; */
  }
}

.product-description__sub-container p {
  font-size: 1.5rem;
  margin: 0.5rem;
}

@media screen and (max-width: 844px) {
  .product-description__sub-container p {
    font-size: 1rem;
    margin: 0.5rem;
  }
}

.product-description__image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

@media screen and (max-width: 844px) {
  .product-description__image {
    width: 100%;
    height: 320px;
    /* height: 50%; */
  }
}

.product-description__quantity-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid #87f2b2;
  border-radius: 0.25rem;
  height: 3rem;
  width: 50%;
  color: #34923b;
}

@media screen and (max-width: 844px) {
  .product-description__quantity-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    height: 2rem;
    width: 50%;
    color: #34923b;
  }
}

.product-description__product-modal {
  background-color: #f7cb89c3;
  width: 50%;
  height: 50vh;
  border-radius: 1%;
}

.product-description__product-modal button {
  /* border: none; */
  /* background: none; */
  cursor: pointer;
}

@media screen and (max-width: 844px) {
  .product-description__product-modal {
    width: 70%;
  }
}

.product-description__quantity-box button {
  border: none;
  font-size: 1.5rem;
  color: #34923b;
}

.product-description__add-to-cart {
  margin: 1rem;
  border-radius: 3rem;
  background-color: #13aa52;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
}

@media screen and (max-width: 844px) {
  .product-description__add-to-cart {
    margin: 1rem;
    border-radius: 1rem;
    background-color: #13aa52;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
  }
}

.product-description__add-to-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/* .product-description__info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 17rem;
  color: white;
  background-color: #35a964;
} */

.product-description__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #71b85f;
  color: white;
  width: 100%;
}

.product-description__price-info {
  background-color: white;
  font-size: 18px;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(178, 109, 44);
  box-shadow: 0px 0px 14px -7px #f09819;
}

.product-description__name-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #71b85f;
  width: 100%;
}

.product-description__info button {
  height: 100%;
  font-size: 1rem;
  padding: 15px 30px;
  background-size: 200% auto;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #e28239 0%,
    #f09819 51%,
    #ff512f 100%
  );
  touch-action: manipulation;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  border: none;
}

/* #ff512f 0%,
#f09819 51%,
#ff512f 100% */
